

.main{
 height: 100%;
}

.L-one {
  text-align: right;
  margin-top: 10%;
  width: 25%;
  float: left;
  padding-right: 5%;

    time {
      font-family: sans-serif;
      color: gray;
      size: 1em;
    span {
      font-family: sans-serif;
      color: #6CBFEE;
      font-size: 3em;

    }
    }
}

.R-one {
  margin-top: 10%;
  width:50%;
  float: left;
  margin-right: 5%;
  background-color: #6CBFEE;
  border-radius: 10px;
  padding: 2%;
    h1 {
      font-family: sans-serif;
      color: white;
      font-weight: bold;
      p {
        font-family: sans-serif;
        color: white;
        font-weight: normal;
        font-size: .7em;
      }
    }

}
