

.main{
 height: 100%;
  article{
    margin-right: 10%;
    // margin-top: 5%;
    float: right;
    width: 50%;
    padding: 3%;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
    position: relative;
  }
  hr {
    height: 1px;
    color: white;
    background: white;
    font-size: 0;
    border: 0;
  }
    .one {
      background-color: $lineColor;

    }
    .two {
      background-color: #90E3FF;
    }
    .three {
      background-color: #B6FFFF;
    }
    .vertical-line {
        width: 5px;
        background-color: $lineColor;
        height: 100%;
        position: absolute;
        left: -15%;
      }
}

time {
  height: 100%;
  position: absolute;
  left: -40%;

      p {
    color: $dateColor;
    font-size: 1em;
    font-family:'Roboto slab', serif;
      }
    h1 {
      color: $lineColor;
      font-size: 2em;
  }
}
.square {
    height: 80px;
    width: 80px;
    background-color:$lineColor ;
    border-radius: 50px;
    position:absolute;
    left: -20.5%;

}
