
.date
 {
   margin-left: 10%;
   margin-top: 5%;
   float: left;
   width:20%;


    p {
    color: $dateColor;
    font-size: 1em;
    font-family:'Roboto Slab', serif;

  }
    h1 {
      margin-bottom: 95%;
    }
}
.main{


  article{
    margin-left: 5%;
    margin-top: 5%;
    float: left;
    width: 50%;
    padding: 3%;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;

  }
  hr {
    height: 1px;
    color: white;
    background: white;
    font-size: 0;
    border: 0;
  }
  .one {
    position: relative;
    background-color: $lineColor;
  }
  .two {
    background-color: #90E3FF;
  }
  .three {
    background-color: #B6FFFF;
  }
}
.vertical-line {
    width: 5px;
    background-color: red;
    height: 100%;
    position: absolute;
    left: -20%;
}
